<style>
.table td.fit, 
.table th.fit {
   white-space: nowrap;
   width: 1%;
}
</style>
<table class="table table-sm table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Question</th>
      <th scope="col">Answer</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <!-- prettier-ignore-->
    <% faqs.forEach(faq =>{ %>
    <tr>
      <th scope="row" class="fit">1</th>
      <td class="fit">
        <!-- prettier ignore-->
        <%= faq.id %>
    </td>
      <td class="fit">
        <!-- prettier ignore-->
        <%= faq.question %>
    </td>
      <td class="fit">
        <!-- prettier ignore-->
        <%= faq.answer %>
    </td>
      <td class="fit">
        <!--prettier-ignore-->
        <a href="/api/v1/admin/<%= faq.id %>/edit" class="btn btn-primary">Edit</a>
        <!-- prettier-ignore-->
        <a href="/api/v1/admin/<%= faq.id %>/delete" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    <!-- prettier-ignore-->
    <% }) %>
  </tbody>
</table>
<div class="d-flex justify-content-end">
    <a href="/api/v1/admin/new" class="btn btn-primary">New FAQ</a>
</div>

